.itemImageDiv {
    height: 300px;   
    border: 1px solid; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.itemImage {
    height: 50%;
    /* width: 50%; */
}

.addToCartButton {
    margin-top: 5px;
    outline: none;
}

.moreThenOneProductInput {
    width: 90%;
    margin: 5px auto;
}