Osnovni stil za kontejnere
div {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

/* Stil za ukupnu cenu */
h2 {
    margin-bottom: 20px;
    color: #28a745;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Stil za dugme */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

/* Link dugme */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Stil za formu */
form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Stil za polja u formi */
div input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Stil za labelu */
label {
    font-weight: bold;
    font-size: 1rem;
}

/* Podnožje forme */
button[type="submit"] {
    width: 100px;
    padding: 12px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #218838;
}
